<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <table>
        <tr>
            <td id="statistics">
                총 게시물: <%=cnt%> 건&nbsp;&nbsp;&nbsp;PAGE <%=page%>/<%=totalPage%>
            </td>
        </tr>
        <tr>
            <td>
                <div class="board_top_line"></div>
                <table align="center" border="0">
                    <tr>
                        <th>No</th>
                        <th>Subject</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Hits</th>
                    </tr>
                    <% for(var i = 0; i < data.length; i++){ %>
                        <tr>
                            <td class="board_split_line" colspan="5">&nbsp;</td>
                        </tr>
                        <tr class="board_content_line">
                            <td><%=max - i%></td>
                            <td id="entity_title"><a href="/members/post/<%=data[i].num%>"><%=data[i].title%></a></td>
                            <td><%=data[i].name%></td>
                            <td><%=data[i].regdate%></td>
                            <td><%=data[i].hit%></td>
                        </tr>
                    <% } %>
                </table>
                <div class="board_bot_line"></div>
            </td>
        </tr>
    </table>
    <div style="width:46em; text-align:center; padding-top:2px;">
        <%if(page > pageSize){ %>
            [<a style="text-decoration: none" href = "/members/list/1">◀◀</a>]
            [<a style="text-decoration: none" href = "/members/list/<%=startPage - 1%>">◀</a>]
        <%}else{%>
            [<span style="color:gray">◀◀</span>]
            [<span style="color:gray">◀</span>]
        <%}%>
        &nbsp;&nbsp;
        <%for(var i = startPage; i <= endPage; i++){%>
            <%if(i == page){%>
                [<%=i%>]
            <%}else{%>
                [<a href="/members/list/<%=i%>"><%=i%></a>]
            <%}%>
        <%}%>
        &nbsp;&nbsp;
        <%if(page > pageSize){ %>
            [<a style="text-decoration: none" href = "/members/list/<%=endPage + 1%>">▶▶</a>]
            [<a style="text-decoration: none" href = "/members/list/<%=totalPage%>">▶</a>]
        <%}else{%>
            [<span style="color:gray">▶</span>]
            [<span style="color:gray">▶▶</span>]
        <%}%>
        <!--form-->
            <table border="0">
                <tr>
                    <td width="70%">
                        &nbsp;<!--언젠가.. 검색기능을 추가할 날이 오겠지?-->
                    </td>
                    <td id="write" width="30%">
                        <a href="/members/write">Write</a>
                    </td>
                </tr>
            </table>
        <!--/form-->
    </div>
</body>
</html>
