<div class="community_post">
	<div class="community_post_no"><%=post_no%></div>
	<!--div class="community_post_subject"><%=post_subject%></div-->
	<div class="community_post_subject"><a href="javascript:open_post(<%=post_no%>)"><%=post_subject%></a></div>
	<div class="community_post_name"><%=post_name%></div>
	<div class="community_post_date"><%=post_date%></div>
	<div class="community_post_hits"><%=post_hits%></div>
</div>