<a href = "javascript:spotsearch_open(<%=spot_id%>)" class = "spotsearch_spot_button">
	<div class = "spotsearch_spot">
		<p class = "spotsearch_spot_id"><%=spot_id%></p>
		<p class = "spotsearch_spot_name"><%=spot_name%></p>
		<div class = "spotsearch_spot_rating">
		<%for(var i = 0; i < 5; i++){%>
			<img src = <%=spot_rating[i]%>></img>
		<%}%>
		</div>
		<a href = "javascript:spotsearch_add(<%=spot_id%>)" class = "spotsearch_spot_add"><img src = "/image/add button1.png"></img></a>
		<p class = "spotsearch_spot_description"><%=spot_description%></p>
		<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />   
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>   
		<script type="text/javascript">
			var geocoder;
			var map;
			var marker;

			function initialize(){
				geocoder = new google.maps.Geocoder();
				var latlng = new google.maps.LatLng(37.56641923090,126.9778741551);
				var myOptions = {
					zoom: 15,
					center: latlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				}
				map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
			}

			function codeAddress(){
				var address = spot_name;

				geocoder.geocode({
					'address':address
				}, function(results, status){
					if (status == google.maps.GeocoderStatus.OK){
						map.setCenter(results[0].geometry.location);
						addMark(results[0].geometry.location.lat(), results[0].geometry.location.lng());
					}
					else{
						divList.innerHTML = "검색 결과가 없습니다." + status;
					}
				});
			}

			function addMark(lat, lng){
				if (typeof marker != 'undefined'){
					marker.setMap(null);
				}
				
				marker = new google.maps.Marker({
					map : map,
					position : new google.maps.LatLng(lat, lng)
				});
			}
		initialize();
		codeAddress();
		</script>
		<div id="map_canvas" style="height:500px;width:500px"></div>   
	</div>
</a>
